<header class="topbar">

  <button
    class="menu-button"
    type="button"
    aria-label="Toggle navigation"
  >
    ☰
  </button>


  <div class="topbar-spacer"></div>


  <button
    class="notification-button"
    type="button"
    aria-label="Notifications"
  >
    ♧

    <span class="notification-dot"></span>
  </button>


  <div class="profile">

    <div class="avatar">
      RM
    </div>

    <div class="profile-info">

      <span class="profile-name">
        HR Manager
      </span>

      <span class="profile-role">
        Administrator
      </span>

    </div>

    <span class="profile-arrow">
      ▾
    </span>

  </div>

</header>   